
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$container-large-desktop: 990px;
$grid-gutter-width: 10px;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


/******************************************************************************************
Global
******************************************************************************************/


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


/******************************************************************************************
Header
******************************************************************************************/


.adds-image {
  background-color: #3A669B;
  height: 45px;

  .fa-plus-circle{
    margin-left: 85px;
    margin-top: 9px;
  }
}


/******************************************************************************************
Main
******************************************************************************************/



.image-space {
  background-color: #E0E1E2;
  height: 1000px;
  // width: 980px;
}



/******************************************************************************************
Footer
******************************************************************************************/
